///Sección de BitByGrid que construye los elementos Flexbox
///@author: Israel Trejo
///@group: BitByDev

///Nombres de clases de Flexbox
$flexContenedor: 'flex-container'
$flexAuxClase: 'flex-'

///Clases usadas por esta sección
.#{$flexContenedor}
  display: flex

.wrap
  flex-wrap: wrap

.nowrap
  flex-wrap: nowrap

.#{$flexAuxClase}row
  flex-direction: row

.#{$flexAuxClase}row-reverse
  flex-direction: row-reverse

.#{$flexAuxClase}column
  flex-direction: column

.#{$flexAuxClase}column-reverse
  flex-direction: column-reverse

.#{$flexAuxClase}align-center
  align-items: center

.#{$flexAuxClase}align-start
  align-items: flex-start

.#{$flexAuxClase}align-end
  align-items: flex-end

.#{$flexAuxClase}align-stretch
  align-items: stretch

.#{$flexAuxClase}justify-center
  justify-content: center

.#{$flexAuxClase}justify-start
  justify-content: flex-start

.#{$flexAuxClase}justify-end
  justify-content: flex-end

.#{$flexAuxClase}justify-around
  justify-content: space-around

.#{$flexAuxClase}justify-between
  justify-content: space-between
