///SASS file that imports all keyframes to BitbyUX
///@author: Israel Trejo
///@group: BitByDev

@keyframes show
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes hide
  0%
    opacity: 1

  100%
    opacity: 0

@keyframes show-c
  0%
    opacity: 0

  100%
    opacity: 1
    position: relative
    
@keyframes hide-c
  0%
    opacity: 1

  100%
    opacity: 0
    position: absolute
    
.show
  animation-name: show
  animation-duration: .25s
  animation-fill-mode: forwards  

.hide
  animation-name: hide
  animation-duration: .25s
  animation-fill-mode: forwards   
    
.show-c
  animation-name: show-c
  animation-duration: .25s
  animation-fill-mode: forwards  

.hide-c
  animation-name: hide-c
  animation-duration: .25s
  animation-fill-mode: forwards   
