///SASS file that builds the tabs elements
///@author: Israel Trejo
///@group: BitByDev

///Classes & Mixins used by bitTabs
.tab-item
  position: absolute
  width: inherit
  height: inherit
  max-width: 0
  max-height: 0
  opacity: 0