///SASS file that imports all keyframes to BitbyUX
///@author: Israel Trejo
///@group: BitByDev

@keyframes show
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes hide
  0%
    opacity: 1

  100%
    opacity: 0

.show
  animation-name: show
  animation-duration: .5s
  animation-fill-mode: forwards  

.hide
  animation-name: hide
  animation-duration: .5s
  animation-fill-mode: forwards   