///Variables que se usan de manera predeterminada en BitbyGrid
///@author: Israel Trejo
///@group: BitByDev

///Variables usadas dentro del documento
///Nombres de Breakpoints usados
$s: 'sm'
$m: 'md'
$l: 'lg'
$x: 'xl'

///Breakpoints usados por el grid
$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px

///Mapa de breakpoints
$breakpoints: ($s: $sm, $m: $md, $l: $lg, $x: $xl)

///Mapas de columnas y espaciado
$columnas: ($s: 2, $m: 4, $l: 6, $x: 8)
$espacios: ($s: 0em, $m: .25em, $l: .5em, $x: .75em)

///Nombres de clases usadas en BitbyGrid
$nomContenedor: 'bit-container'
$nomFullContenedor: 'bit-full-container'
$nomRow: 'bit-row'
$nomBase: 'bit-col'
$nomColumnas: 'col'
$cantidadBase: 20
$cantidadCol: 12

///Nombres de clases de Flexbox
$flexContenedor: 'flex'

///Nombres de clases de GridCSS
$gridContenedor: 'grid-container'
$gridFullContenedor: 'grid-full-container'
$gridAuxClase: 'grid'
