///Sección de Sass que controla los breacrumbs
///@author: Israel Trejo
///@group: BitByDev

///Mixins usados en el documento
=crearBreadcrumbColor($nomBc, $nomColor, $color)
  .#{$nomBc}-#{$nomColor}
    background-color: map-get($color, 'bg-color')

    & .#{$nomBc}-item
      & a
        color: map-get($color, 'primary')

        &:hover
          color: map-get($color, 'secondary')
          text-decoration: underline
          cursor: pointer

      &.active
        & a
          color: map-get($color, 'secondary')

          &:hover
            text-decoration: none
            cursor: auto

      &:nth-child(n+2)
        &:before
          color: map-get($color, 'secondary')

=crearBreadcrumbs($nomBc, $colores, $separador: '/')
  .#{$nomBc}
    display: inline-flex
    justify-content: flex-start
    align-items: center
    width: 100%
    padding: 1em
    background-color: darken(#E9ECEF, 10%)
    list-style: none
    border-radius: .5em

  .#{$nomBc}-item
    & a
      color: #0091ea

      &:hover
        color: darken(#0091ea, 10%)
        text-decoration: underline
        cursor: pointer

    &.active
      & a
        color: darken(#E9ECEF, 50%)

        &:hover
          text-decoration: none
          cursor: auto

    &:nth-child(n+2)
      &:before
        font-weight: bold
        content: $separador
        padding: 0px .5em

  $keysColors: map-keys($colores)
  @each $color in $keysColors
    +crearBreadcrumbColor($nomBc, $color, map-get($colores, $color))
