///Sección de Sass que el estilo de los drops
///@author: Israel Trejo
///@group: BitByDev

///Mixins usados en el documento
///Mixin para crear el toggle del drop
=crearDrops($nomDrop)
  .#{$nomDrop}:after
    font-size: .7em;
    position: relative;
    content: '🞃'
    top: -.3em;
    margin-left: .5em;

  .#{$nomDrop}.down:after
    content: '🞃'
    top: -.3em;
    margin-left: .5em;

  .#{$nomDrop}.up:after
    content: '🞁'
    top: 0em;
    margin-left: .5em;

  .#{$nomDrop}.right:after
    content: '🞂'
    top: -.2em;
    margin-left: .8em;

  .#{$nomDrop}.left:after
    content: '🞀'
    top: -.2em;
    margin-left: .8em;

  .#{$nomDrop}.only:after
    margin-left: 0em;
  
