///Sección de Sass que controla las tablas
///@author: Israel Trejo
///@group: BitByDev

///Mixins que usa el documento
///Mixin para crear una tabla de color con todas sus configuraciones
=crearTabla($nomTabla, $nomColor, $color)
  tr.#{$nomColor},
  td.#{$nomColor}
    color: map-get($default, 'primary-color-title')
    background-color: map-get($color, 'primary-color')

  .thead-#{$nomColor},
  .tbody-#{$nomColor},
  .#{$nomTabla}-#{$nomColor}
    color: map-get($color, 'primary-color-title')
    background-color: map-get($color, 'primary-color')
    transition: all .25s

    &.#{$nomTabla}-borderless tr
      border: 0px

    & tr
      border-top: 1px map-get($color, 'primary-color-light') solid

    &.#{$nomTabla}-hover tbody tr:hover
      background-color: map-get($color, 'primary-color-dark')
      transition: all .25s

    &.#{$nomTabla}-bordered td,
    &.#{$nomTabla}-bordered th,
      border: 1px map-get($color, 'primary-color-light') solid


    &.#{$nomTabla}-striped tbody tr:nth-child(2n+1)
      background-color: map-get($color, 'primary-color-dark')

    &.#{$nomTabla}-hover.#{$nomTabla}-striped tbody tr:nth-child(2n+1):hover
      background-color: map-get($color, 'accent-color')

///Mixin para crear todas las tablas de un mapa de colores y la tabla base
=crearTablas($nomTabla, $colores, $tamanios, $modoColor: true)
  $default: map-get($colores, 'default')
  .#{$nomTabla}
    width: 100%
    border-collapse: collapse
    transition: all .25s

    & td,
    & th
      padding: .5em 1em

    $keysTam: map-keys($tamanios)
    @each $tam in $keysTam
      &.#{$nomTabla}-#{$tam} td,
      &.#{$nomTabla}-#{$tam} th
        padding: .5em*(map-get($tamanios, $tam)) 1em*(map-get($tamanios, $tam))

    & tr
      width: auto

    &.#{$nomTabla}-borderless tr
      border: 0px

    &.#{$nomTabla}-hover tbody tr:hover
      background-color: map-get($default, 'divider-color')
      transition: all .25s

    &.#{$nomTabla}-bordered td,
    &.#{$nomTabla}-bordered th,
      border: 1px map-get($default, 'divider-color') solid

    &.#{$nomTabla}-striped tbody tr:nth-child(2n+1)
      background-color: map-get($default, 'divider-color')

    &.#{$nomTabla}-hover.#{$nomTabla}-striped tbody tr:nth-child(2n+1):hover
      background-color: map-get($default, 'accent-color')

  @if $modoColor == true
    $keysColors: map-keys($colores)
    @each $color in $keysColors
      +crearTabla($nomTabla, $color, map-get($colores, $color))
