///Sección de Sass que controla las listas
///@author: Israel Trejo
///@group: BitByDev

///Mixins usados en el documento
=crearListaColor($nomLista, $nomColor, $color)
  .#{$nomLista}-group-item.#{$nomColor}
    background-color: map-get($color, 'primary-color')
    color: map-get($color, 'primary-color-title')

  .#{$nomLista}-group-#{$nomColor}
    & .#{$nomLista}-group-item.active,
    &-hover .#{$nomLista}-group-item.active
      background-color: map-get($color, 'primary-color')
      color: map-get($color, 'primary-color-title')

    &-hover
      & .#{$nomLista}-group-item
        &:hover
          background-color: map-get($color, 'primary-color')
          color: map-get($color, 'primary-color-title')

        &.active:hover
          background-color: map-get($color, 'primary-color-dark')
          color: map-get($color, 'primary-color-title')


=crearListas($nomLista, $colores)
  $default: map-get($colores, 'default')
  .#{$nomLista}-group
    display: inline-flex
    flex-direction: column
    width: 100%

    &-item
      color: map-get($default, 'primary-color-text')
      padding: 1em
      border: 1px map-get($default, 'divider-color') solid

      &:first-child
        border-top-left-radius: .5em
        border-top-right-radius: .5em

      &:last-child
        border-bottom-left-radius: .5em
        border-bottom-right-radius: .5em

  $keysColors: map-keys($colores)
  @each $color in $keysColors
    +crearListaColor($nomLista, $color, map-get($colores, $color))
