///Sección de Sass que controla los elementos básicos de color
///@author: Israel Trejo
///@group: BitByDev

///Mixins usados en el documento
///Mixin para crear backgrounds de color
=crearBackgroundColor($nomBg, $nomColor, $color)
  .#{$nomBg}-#{$nomColor}-outline,
  .#{$nomBg}-#{$nomColor}
    padding: 1em

  .#{$nomBg}-#{$nomColor}
    background-color: map-get($color, 'primary-color')
    color: map-get($color, 'primary-color-title')

  .#{$nomBg}-#{$nomColor}-outline
    border: 1px map-get($color, 'primary-color') solid
    color: map-get($color, 'primary-color-text')

///Mixin para crear textos de color
=crearTextoColor($nomTexto, $nomColor, $color)
  .#{$nomTexto}-#{$nomColor}
    color: map-get($color, 'primary-color')

  a.#{$nomTexto}-#{$nomColor}:hover
    color: map-get($color, 'primary-color-dark')
    text-decoration: underline
    cursor: pointer

///Mixin para crear textos de color
=crearBackColores($nomBg, $colores)
  $keysColors: map-keys($colores)
  @each $color in $keysColors
    +crearBackgroundColor($nomBg, $color, map-get($colores, $color))

///Mixin para crear textos de color
=crearTextoColores($nomTexto, $colores)
  $keysColors: map-keys($colores)
  @each $color in $keysColors
    +crearTextoColor($nomTexto, $color, map-get($colores, $color))
