///Sección de Sass que controla los badges(medallas)
///@author: Israel Trejo
///@group: BitByDev

///Mixins usados en el documento
///Mixin para crear un badge de color
=crearBadgeColor($nomBadge, $nomColor, $color)
  .#{$nomBadge}-#{$nomColor}
    background-color: map-get($color, 'primary-color')
    color: map-get($color, 'primary-color-title')

  a.#{$nomBadge}-#{$nomColor}:hover
    background-color: map-get($color, 'primary-color-dark')

///Mixin para crear una serie de badges con una lista de colores
=crearBadges($nomBadge, $colores, $tamFuente: 1em)
  .#{$nomBadge}
    border: 1px solid transparent
    text-align: center
    vertical-align: middle
    font-size: $tamFuente*.75
    font-weight: bold
    padding: .25em .5em
    transition: all .25s
    width: auto

  .#{$nomBadge}
    border-radius: .5em

  .#{$nomBadge}-pill
    border-radius: 1em
    padding: .25em .75em

  a.#{$nomBadge}:hover
    cursor: pointer
    transition: all .25s

  $keysColors: map-keys($colores)
  @each $color in $keysColors
    +crearBadgeColor($nomBadge, $color, map-get($colores, $color))
