///Sección de Sass que controla las tablas
///@author: Israel Trejo
///@group: BitByDev

///Mixins que usa el documento
///Mixin para crear una tabla de color con todas sus configuraciones
=crearTabla($nomTabla, $nomColor, $color)
  tr.#{$nomColor},
  td.#{$nomColor},
  thead.#{$nomColor},
  tbody.#{$nomColor},
  .#{$nomTabla}.#{$nomColor}
    color: map-get($color, 'primary-color-title')
    background-color: map-get($color, 'primary-color')
    transition: all .25s

  .#{$nomTabla}.#{$nomColor}
    &.header
      & thead
        color: map-get($color, 'primary-color-title')
        background-color: map-get($color, 'primary-color')

      & tbody
        color: map-get($color, 'primary-color-text')
        background-color: #FFFFFF

      & tr
        border-bottom: 1px map-get($color, 'divider-color') solid

      &.hover tbody tr:hover
        background-color: map-get($color, 'primary-color')
        color: map-get($color, 'primary-color-title')
        transition: all .25s

      &.bordered td,
      &.bordered th,
        border: 1px map-get($color, 'divider-color') solid

      &.striped tbody tr:nth-child(2n+1)
        background-color: map-get($color, 'primary-color')
        color: map-get($color, 'primary-color-title')

      &.hover.striped tbody tr:nth-child(2n+1):hover
        background-color: map-get($color, 'primary-color-dark')
        color: map-get($color, 'primary-color-title')

    &.borderless tr
      border: 0px

    & tr
      border-bottom: 1px map-get($color, 'primary-color-light') solid

    &.hover tbody tr:hover
      background-color: map-get($color, 'primary-color-dark')
      transition: all .25s

    &.bordered td,
    &.bordered th,
      border: 1px map-get($color, 'primary-color-light') solid

    &.striped tbody tr:nth-child(2n+1)
      background-color: map-get($color, 'primary-color-dark')

    &.hover.striped tbody tr:nth-child(2n+1):hover
      background-color: map-get($color, 'accent-color')

///Mixin para crear todas las tablas de un mapa de colores y la tabla base
=crearTablas($nomTabla, $colores, $tamanios, $modoColor: true)
  $default: map-get($colores, 'default')
  .#{$nomTabla}
    width: 100%
    border-collapse: collapse
    transition: all .25s

    & td,
    & th
      padding: .5em 1em

    $keysTam: map-keys($tamanios)
    @each $tam in $keysTam
      &.#{$tam} td,
      &.#{$tam} th
        padding: .5em*(map-get($tamanios, $tam)) 1em*(map-get($tamanios, $tam))

    & tr
      width: auto
      border-bottom: 1px map-get($default, 'divider-color') solid

    &.borderless tr
      border: 0px

    &.hover tbody tr:hover
      background-color: map-get($default, 'divider-color')
      transition: all .25s

    &.bordered td,
    &.bordered th,
      border: 1px map-get($default, 'divider-color') solid

    &.striped tbody tr:nth-child(2n+1)
      background-color: map-get($default, 'divider-color')

    &.hover.striped tbody tr:nth-child(2n+1):hover
      background-color: map-get($default, 'accent-color')

    &.header thead
      background-color: map-get($default, 'divider-color')

  @if $modoColor == true
    $keysColors: map-keys($colores)
    @each $color in $keysColors
      +crearTabla($nomTabla, $color, map-get($colores, $color))
