///Sección de Sass que controla los breacrumbs
///@author: Israel Trejo
///@group: BitByDev

///Mixins usados en el documento
=crearBreadcrumbColor($nomBc, $nomColor, $color)
  .#{$nomBc}.#{$nomColor}
    background-color: map-get($color, 'primary-color-light')

    & .item
      & a
        color: map-get($color, 'primary-color-dark')

        &:hover
          color: map-get($color, 'accent-color')
          text-decoration: underline
          cursor: pointer

      &.active
        & a
          color: map-get($color, 'primary-color-text')

          &:hover
            text-decoration: none
            cursor: auto

      &:nth-child(n+2)
        &:before
          color: map-get($color, 'primary-color-text')

=crearBreadcrumbs($nomBc, $colores, $separador: '/')
  $default: map-get($colores, 'default')
  .#{$nomBc}
    display: inline-flex
    justify-content: flex-start
    align-items: center
    width: 100%
    padding: 1em
    background-color: map-get($default, 'primary-color-light')
    list-style: none
    border-radius: .5em

    & .item
      & a
        color: map-get($default, 'primary-color')

        &:hover
          color: map-get($default, 'accent-color')
          text-decoration: underline
          cursor: pointer

      &.active
        & a
          color: map-get($default, 'primary-color-dark')

          &:hover
            text-decoration: none
            cursor: auto

      &:nth-child(n+2)
        &:before
          font-weight: bold
          content: $separador
          padding: 0px .5em
          color: map-get($default, 'primary-color-dark')

  $keysColors: map-keys($colores)
  @each $color in $keysColors
    +crearBreadcrumbColor($nomBc, $color, map-get($colores, $color))
