///SASS file that builds the Cards elements
///@author: Israel Trejo
///@group: BitByDev

///Mixins used by bitCards
///Mixin to create a color card
=createColorCard($nameCard, $nameColor, $color)
  .#{$nameCard}.#{$nameColor}
    border-color: darken(map-get($color, 'primary-color-dark'), 5%)

    & .body,
    & .header,
    & .footer
      color: map-get($color, 'primary-color-title')

      & .title
        color: map-get($color, 'primary-color-title')

      & .subtitle
        color: map-get($color, 'primary-color-title')

    & .body
      background-color: map-get($color, 'primary-color')

    & .header,
    & .footer
      background-color: map-get($color, 'primary-color-dark')
      border-color: darken(map-get($color, 'primary-color-dark'), 5%)

///Mixin to create a outline color card
=createColorOutlineCard($nameCard, $nameColor, $color)
  .#{$nameCard}.#{$nameColor}-outline
    border-color: map-get($color, 'primary-color-dark')

    & .body
      color: map-get($color, 'primary-color-text')

      & .title,
      & .subtitle
        color: map-get($color, 'primary-color-dark')

    & .header,
    & .footer
      background-color: map-get($color, 'primary-color')
      color: map-get($color, 'primary-color-title')
      border-color: map-get($color, 'primary-color-dark')

/// Mixin to create the base style of a card.
=createBaseCard($nameCard, $default, $breakpoints)
  .#{$nameCard}
    width: 100%
    border: 1px map-get($default, 'divider-color') solid
    border-radius: .5em
    position: relative
    display: flex
    flex-direction: column

    & .body,
    & .header,
    & .footer
      padding: 1em
      color: map-get($default, 'primary-color-text')

      & .title,
      & .subtitle
        font-weight: bold

      & .title
        color: map-get($default, 'primary-color-text')

      & .subtitle
        color: map-get($default, 'secondary-color-text')

    & .header,
    & .footer
      background-color: map-get($default, 'primary-color-light')

    & .header
      border-top-right-radius: .5em
      border-top-left-radius: .5em
      border-bottom: 1px map-get($default, 'divider-color') solid
      font-weight: bold

    & .footer
      border-bottom-right-radius: .5em
      border-bottom-left-radius: .5em
      border-top: 1px map-get($default, 'divider-color') solid

    & .img
      width: 100%
      height: auto

    $keysBp: map-keys($breakpoints)
    $columns: (2, 3, 4, 4)
    $counter: 1
    &-group
      display: block
      width: 100%
      column-gap: 1em
      orphans: 1
      widows: 1
      height: auto

      & .#{$nameCard}
        margin-bottom: 1em
        display: inline-block

    @each $bp in $keysBp
      @media only screen and (min-width: map-get($breakpoints, $bp))
        &-group
          column-count: nth($columns, $counter)

      $counter: $counter + 1

///Mixin to create all the colors of the cards.
=createColorsCard($nameCard, $colors)
  $keysColors: map-keys($colors)
  @each $color in $keysColors
    +createColorCard($nameCard, $color, map-get($colors, $color))

///Mixin to create all the outline colors of the cards.
=createColorsOutlineCard($nameCard, $colors)
  $keysColors: map-keys($colors)
  @each $color in $keysColors
    +createColorOutlineCard($nameCard, $color, map-get($colors, $color))