///Sección de Sass que controla los botones
///@author: Israel Trejo
///@group: BitByDev

///Mixins usados en el documento
///Mixin para crear un boton de color
=crearBotonColor($nomBoton, $nomColor, $color)
  .#{$nomBoton}.#{$nomColor}
    background-color: map-get($color, 'primary-color')
    color: map-get($color, 'primary-color-title')

    &:hover
      background-color: map-get($color, 'primary-color-dark')

    &.disabled
      background-color: map-get($color, 'primary-color-light')
      color: map-get($color, 'secondary-color-text')

    &-outline
      background-color: transparent
      border-color: map-get($color, 'primary-color')
      color: map-get($color, 'primary-color')

      &:hover
        background-color: map-get($color, 'primary-color')
        color: map-get($color, 'primary-color-title')

      &.disabled
        border-color: map-get($color, 'primary-color-light')
        background-color: map-get($color, 'primary-color-light')
        color: map-get($color, 'secondary-color-text')

    &-clear      
      background-color: transparent
      border-color: transparent
      color: map-get($color, 'primary-color')

      &:hover
        color: map-get($color, 'primary-color-dark')

      &.disabled
        color: map-get($color, 'primary-color-text')

///Mixin para crear estilos base
=crearBotonBase($nomBoton, $default, $tamFuente: 1em, $paddingH: .375em, $paddingV: .75em)
  .#{$nomBoton}
    border: 1px solid transparent
    border-radius: 5px
    text-align: center
    vertical-align: middle
    font-size: $tamFuente
    padding: $paddingH $paddingV
    transition: all .25s
    display: inline-block
    background-color: map-get($default, 'primary-color')
    color: map-get($default, 'primary-color-title')

    &:hover
      cursor: pointer
      transition: all .25s
      background-color: map-get($default, 'accent-color')

    &.disabled
      cursor: not-allowed
      background-color: map-get($default, 'primary-color-light')

    &.block
      width: 100%

///Mixin para crear grupos de botones
=crearBotonGrupo($nomBoton)
  .#{$nomBoton}-group,
  .#{$nomBoton}-group-vertical
    display: inline-flex
    align-items: center
    margin: .5em 0em
    justify-content: center

  .#{$nomBoton}-group
    &-vertical
      flex-direction: column

      & .#{$nomBoton}:not(:first-child)
        border-top-right-radius: 0px
        border-top-left-radius: 0px

      & .#{$nomBoton}:not(:last-child)
        border-bottom-right-radius: 0px
        border-bottom-left-radius: 0px

    & .#{$nomBoton}:not(:first-child)
      border-top-left-radius: 0px
      border-bottom-left-radius: 0px

    & .#{$nomBoton}:not(:last-child)
      border-top-right-radius: 0px
      border-bottom-right-radius: 0px

///Mixin para crear todos los tamaños de botones
=crearBotonTamanios($nomBoton, $tamanios, $tamFuente: 1em)
  $keysBtn: map-keys($tamanios)
  @each $btn in $keysBtn
    .#{$nomBoton}.#{$btn},
    .#{$nomBoton}-group.#{$btn} .#{$nomBoton},
    .#{$nomBoton}-group-vertical.#{$btn} .#{$nomBoton}
      font-size: $tamFuente*map-get($tamanios, $btn)

///Mixin para crear todos los botones de colores
=crearBotonColores($nomBoton, $colores)
  $keysColors: map-keys($colores)
  @each $color in $keysColors
    +crearBotonColor($nomBoton, $color, map-get($colores, $color))
