///SASS file that builds the tags elements
///@author: Israel Trejo
///@group: BitByDev

///Mixins used by bitTags
///Mixin to create a color tag
=createColorTag($nameTag, $nameColor, $color)
  .#{$nameTag}.#{$nameColor}
    background-color: map-get($color, 'primary-color')
    color: map-get($color, 'primary-color-title')

  a.#{$nameTag}.#{$nameColor}:hover
    background-color: map-get($color, 'primary-color-dark')

  .#{$nameTag}.#{$nameColor}-light,
  .#{$nameTag}.#{$nameColor}-dark
    color: map-get($color, 'primary-color')

  .#{$nameTag}.#{$nameColor}-light
    background-color: #FFFFFF

  .#{$nameTag}.#{$nameColor}-dark
    background-color: #212121

  a.#{$nameTag}.#{$nameColor}-light:hover,
  a.#{$nameTag}.#{$nameColor}-dark:hover
    background-color: map-get($color, 'primary-color')

  a.#{$nameTag}.#{$nameColor}-light:hover
    color: #FFFFFF

  a.#{$nameTag}.#{$nameColor}-dark:hover
    color: #212121

/// Mixin to create the base style of a tag.
=createBaseTag($nameTag, $sizeFont: 1em)
  .#{$nameTag}
    border: 1px solid transparent
    text-align: center
    vertical-align: middle
    font-size: $sizeFont*.75
    font-weight: bold
    padding: .25em .5em
    transition: all .25s
    width: auto
    color: #212121
    background-color: #FFFFFF
    display: inline-block

  .#{$nameTag}
    border-radius: .5em

  .#{$nameTag}.pill
    border-radius: 1em
    padding: .25em .75em

  a.#{$nameTag}:hover
    cursor: pointer
    transition: all .25s

  .#{$nameTag}-group
    width: auto
    display: inline-flex
    justify-content: flex-start
    align-items: center
    
    & .#{$nameTag}:not(:first-child)
      border-top-left-radius: 0px
      border-bottom-left-radius: 0px

    & .#{$nameTag}:not(:last-child)
      border-top-right-radius: 0px
      border-bottom-right-radius: 0px

///Mixin to create all the colors of the tags.
=createColorsTag($nameTag, $colors)
  $keysColors: map-keys($colors)
  @each $color in $keysColors
    +createColorTag($nameTag, $color, map-get($colors, $color))
  