///Sección de Sass que controla los breacrumbs
///@author: Israel Trejo
///@group: BitByDev

///Mixins usados en el documento
///Mixin para crear un breadcrumb de color
=crearBreadcrumbColor($nomBc, $nomColor, $color)
  .#{$nomBc}.#{$nomColor}
    background-color: map-get($color, 'primary-color-light')

    & .item
      & a
        color: map-get($color, 'primary-color-dark')

        &:hover
          color: map-get($color, 'accent-color')
          text-decoration: underline
          cursor: pointer

      &.active
        & a
          color: map-get($color, 'primary-color-text')

          &:hover
            text-decoration: none
            cursor: auto

      &:nth-child(n+2)
        &:before
          color: map-get($color, 'primary-color-text')

///Mixin para crear estilos base
=crearBreadcrumbBase($nomBc, $default, $separador: '/', $tamFuente: 1em)
  .#{$nomBc}
    display: inline-flex
    justify-content: flex-start
    align-items: center
    width: 100%
    padding: 1em
    background-color: map-get($default, 'primary-color-light')
    list-style: none
    border-radius: .5em  

    & .item
      & a
        color: map-get($default, 'primary-color')

        &:hover
          color: map-get($default, 'accent-color')
          text-decoration: underline
          cursor: pointer

      &.active
        & a
          color: map-get($default, 'primary-color-dark')

          &:hover
            text-decoration: none
            cursor: auto

      &:nth-child(n+2)
        &:before
          font-weight: bold
          content: $separador
          padding: 0px .5em
          color: map-get($default, 'primary-color-dark')

    &.transparent
      background-color: transparent

///Mixin que genera todos los tamaños de breadcrumb
=crearBreadcrumbTamanios($nomBc, $tamanios, $tamFuente: 1em)
  $keysTam: map-keys($tamanios)
  @each $font in $keysTam
    .#{$nomBc}.#{$font}
      font-size: $tamFuente*map-get($tamanios, $font)

///Mixin que genera todos los breadcrumbs de colores
=crearBreadcrumbColores($nomBc, $colores)
  $keysColors: map-keys($colores)
  @each $color in $keysColors
    +crearBreadcrumbColor($nomBc, $color, map-get($colores, $color))