///Sección de Sass que controla las alertas
///@author: Israel Trejo
///@group: BitByDev

///Mixins usados en el documento
///Mixin para crear una alerta de color
=crearAlertaColor($nomAlerta, $nomColor, $color)
  .#{$nomAlerta}.#{$nomColor}
    background-color: map-get($color, 'primary-color-light')
    color: map-get($color, 'primary-color-dark')
    border-color: map-get($color, 'accent-color')

    & .link
      font-weight: bold
      color: map-get($color, 'primary-color-dark')

      &:hover
        text-decoration: underline

///Mixin para crear estilos base
=crearAlertaBase($nomAlerta)
  .#{$nomAlerta}
    width: 100%
    border: 1px solid transparent
    border-radius: 5px
    padding: .75em 1.25em
    margin: 1em 0px

///Mixin para crear todos los colores de las alertas
=crearAlertaColores($nomAlerta, $colores)
  $keysColors: map-keys($colores)
  @each $color in $keysColors
    +crearAlertaColor($nomAlerta, $color, map-get($colores, $color))
