///SASS file that builds the Jumbotron elements
///@author: Israel Trejo
///@group: BitByDev

///Mixins used by bitJumbotron
///Mixin to create a color jumbotron
=createColorJumbotron($nameJumbotron, $nameColor, $color)
	.#{$nameJumbotron}.#{$nameColor}
		background-color: map-get($color, 'primary-color-light')
		color: map-get($color, 'primary-color-text')

		& hr
			margin: 1em 0em
			border-color: map-get($color, 'primary-color')
			border-style: solid
			width: 100%

		& .text
			color: map-get($color, 'primary-color-title')

		& h1,h2,h3,h4,h5,h6
			line-height: 1.5em

		& p
			line-height: 2em

/// Mixin to create the base style of a Jumbotron.
=createBaseJumbotron($nameJumbotron, $default)
	.#{$nameJumbotron}
		border-radius: 5px
		padding: 4em 2em
		margin-bottom: 2em
		background-color: map-get($default, 'primary-color-light')
		color: map-get($default, 'secondary-color-text')
		display: inline-flex
		flex-direction: column
		width: 100%
		justify-content: center
		align-items: flex-start

		&.fluid
			padding: 2em 1em

///Mixin to create all the colors of the Jumbotron.
=createColorsJumbotron($nameJumbotron, $colors)
	$keysColors: map-keys($colors)
	@each $color in $keysColors
		+createColorJumbotron($nameJumbotron, $color, map-get($colors, $color))