///SASS file that builds the Alert elements
///@author: Israel Trejo
///@group: BitByDev

///Mixins used by bitAlerts
///Mixin to create a color alert
=createColorAlert($nameAlert, $nameColor, $color)
  .#{$nameAlert}.#{$nameColor}
    background-color: map-get($color, 'accent-color')
    color: map-get($color, 'primary-color-title')

    & .link
      font-weight: bold
      color: map-get($color, 'primary-color-title')

      &:hover
        text-decoration: underline

/// Mixin to create the base style of an alert.
=createBaseAlert($nameAlert)
  .#{$nameAlert}
    width: 100%
    border: 1px solid transparent
    border-radius: 5px
    padding: .75em 1.25em
    margin: 1em 0px

///Mixin to create all the colors of the alerts.
=createColorsAlert($nameAlert, $colors)
  $keysColors: map-keys($colors)
  @each $color in $keysColors
    +createColorAlert($nameAlert, $color, map-get($colors, $color))
