///SASS file that builds the Forms and Inputs elements
///@author: Israel Trejo
///@group: BitByDev

///Mixins used by bitForms
/// Mixin to create the base style of a form.
=createBaseForm($nameForm)
  input
    margin: 1em 0em

  .#{$nameForm}-element
    border-radius: 5px
    border: 1px #bdbdbd solid
    padding: .5em
    font-size: 1em
    width: 100%
    display: block
    margin-bottom: 1em

    &:focus
      border: 1px #00BCD4 solid
      box-shadow: 0 0 0 0.2rem rgba(0, 188, 212,.25)

///Mixin to create all the sizes of the inputs.
=createSizesForm($nameForm, $sizes)
  $keysBtn: map-keys($sizes)
  @each $btn in $keysBtn
    .#{$nameForm}.#{$btn}
      font-size: 1em * map-get($sizes, $btn) 

///Mixin to create form groups.
=createGroupForm($nameForm, $nameInput, $sizes) 
  .#{$nameForm}-group
    display: inline-flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    width: 100%
    flex-wrap: wrap

    &.inline
      flex-direction: row
      justify-content: flex-start
      align-items: center
      width: auto

      & .#{$nameForm}-element
        width: auto
        display: inline-block

      & .#{$nameInput}-group
        width: auto     
        margin-right: .5em   

        & input:not(:last-child)
          margin-right: 0em

      & input:not(:last-child),
      & label:not(:last-child)
        margin-right: .5em        

      $keysBtn: map-keys($sizes)
      @each $btn in $keysBtn
        &.#{$btn}
          font-size: 1em * map-get($sizes, $btn)

///Mixin to create input groups.
=createGroupInput($nameForm, $nameInput, $sizes)
  .#{$nameInput}-group
    width: 100%
    display: flex
    align-items: stretch
    font-size: 1em
    margin-bottom: 1em

    & input,
    & select,
    & textarea
      margin: 0em
      margin-left: -1px

    & input,
    & .#{$nameInput}-item
      margin-left: -1px

    & .#{$nameInput}-item
      background-color: #bdbdbd
      border: 1px #aaaaaa solid
      padding: 1em
      border-radius: 5px

    & input:not(:first-child),
    & .#{$nameInput}-item:not(:first-child),
    & select:not(:first-child),
    & textarea:not(:first-child)
      border-top-left-radius: 0px
      border-bottom-left-radius: 0px

    & input:not(:last-child),
    & .#{$nameInput}-item:not(:last-child),
    & select:not(:last-child),
    & textarea:not(:last-child)
      border-top-right-radius: 0px 
      border-bottom-right-radius: 0px

    $keysBtn: map-keys($sizes)
    @each $btn in $keysBtn
      &.#{$btn},
      .#{$nameForm}-group.inline.#{$btn}
        font-size: 1em * map-get($sizes, $btn) 

///Mixin to create a color input
=createColorInput($nameInput, $nameColor, $color)
  .#{$nameInput}-group .#{$nameInput}-item.#{$nameColor}
      background-color: map-get($color, 'primary-color')
      border-color: map-get($color, 'primary-color')
      color: map-get($color, 'primary-color-title')

///Mixin to create all the colors of the inputs.
=createColorsInput($nameInput, $colors)
  $keysColors: map-keys($colors)
  @each $color in $keysColors
    +createColorInput($nameInput, $color, map-get($colors, $color))

  