///SASS file that builds the progress bar elements
///@author: Israel Trejo
///@group: BitByDev

///Mixins used by bitProgress
///Mixin to create a color bar
=createColorBar($nameBar, $nameColor, $color)
	.#{$nameBar} .bar.#{$nameColor}
		background-color: map-get($color, 'primary-color')

/// Mixin to create the base style of a bar.
=createBaseBar($nameBar)
	.#{$nameBar}
		display: flex
		width: 100%
		height: 1em
		background-color: #CFD8DC
		border-radius: 5px
		font-size: .75em
		margin-top: 1em

		& .bar
			transition: width .6s ease
			border-radius: 5px

		& .bar.striped
			background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
			background-size: 1em

///Mixin to create all the colors of the bars.
=createColorsBar($nameBar, $colors)
	$keysColors: map-keys($colors)
	@each $color in $keysColors
		+createColorBar($nameBar, $color, map-get($colors, $color))